
/* Custom CSS Code 
=================================================*/

/* this logo width & height , you can change it depend on your logo */
.logo img {
    width:171px;
    height:33px;
}

#search-input{
    border: none;
    padding: 5px;
    float: right;
    margin-right: -10px;
}

/*VPRT Changes*/

html, body{ overflow-x: hidden;height: 100%; }

/*sticky footer*/
#warp {min-height: 100%;height: auto !important;height: 100%; margin: 0 auto -70px;}
footer, .push {height: 70px; position: relative; z-index: -10;}


.top-bar .search-form{
    float: right;
    border: 0;
}

.top-bar .search-input{
    border: none;
    padding: 5px;
}

.menu-item span,
.menu-item img{
    display: none !important;    
}

.grid {
float: left;
}

.main-header .breadcrumbs{visibility: hidden; padding: 0px; border: none !important;}
.main-header:hover .breadcrumbs{visibility: visible;}
.main-header .space-title{word-wrap: break-word;}
.main-header .page-nav{float: right;}
/*.main-header .navigation ul li ul {top:117px;}*/

.main-content .container{word-break: break-all;}
.main-content .expand-control{margin-bottom: 10px;}

.main-content .sp-stage{padding-left: 10px; margin: 0 0 20px -20px; width: 1000px; height: 470px;}
.main-content .sp-stage:before{left: 100%;}
.main-content .sp-stage:after{right: 100%;}
.main-content .sp-stage:before, .sp-stage:after{content: ""; position: absolute; top: 0; height: 470px; bottom: 0; width: 9999px;}
.main-content .sp-slideshow{color: white;}
.main-content .sp-slideshow a{color: white;}
.main-content .sp-slideshow:selection{color: gray;}

.main-content .sp-slide{height: 440px; width: 930px;}
.main-content .sp-stage .flex-direction-nav li a {background: none !important; font-size: 50px; visibility: hidden;}
.main-content .sp-stage:hover .flex-direction-nav li a{visibility: visible;}
.main-content ul, .main-content ol {margin: 10px 10px 10px 0px;}
.main-content ul li{list-style: initial ; padding: 5px 10px ; margin-left: 16px}
.main-content ol li{list-style-type: decimal ; padding: 5px 10px ; margin-left: 22px}

.main-content .table-wrap {margin: 10px 10px 10px 0px;}
.main-content table { border: 1px solid #eee;margin: 10px 0;}
.main-content table th, td { padding: 10px 20px; border: 1px solid #eee; border-collapse: collapse;}
.main-content table th{ background: #eee; }
.main-content p:empty{ padding: 0px; margin: 0px; }

.main-content .panel-heading {border: 1px solid #EBEBEB; border-bottom:none; padding: 5px;}
.main-content .panel-body {border: 1px solid #EBEBEB;}
.main-content .panel-heading + .panel-body {border: 1px solid #EBEBEB; border-top:none; padding: 10px;}

.footer-down {padding: 0px; margin: 0px;}
.footer-down .container {padding: 22px 0; }

.main-content .sp-page-content .sp-content-info .sp-content-info-panel ul li {margin: 0;float: left;margin-right: 3px;list-style: none;padding: 0;}
.main-content .sp-page-content {padding: 0px 10px;}

.blog-post-date{margin-top: -16px;margin-bottom: 10px;}

.footer-container{background: #383838;}

@media only screen and (max-width: 767px) and (min-width: 480px){
    .flex-direction-nav li .flex-prev {right: 105%;}
    .top-bar .search-form{float:none;margin-left: 34%;margin-bottom: 10px;}
}

@media only screen and (max-width: 480px){
    .top-bar .search-form {
        margin-bottom: 10px;
    }
    .top-bar .search-input{
        width:100%;
    }
}
