
/* Navigational Menu navigation 
=========================================================*/
.navigation ul{
	z-index:100;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

/*Top level list items*/
.navigation ul li{
	position: relative;
	display: inline;
	margin-left:4px;
	text-transform:uppercase;
}

header.style-3 .navigation ul li {
	margin-right:4px;
	margin-left:0;
}

/*Top level menu link items style*/
.navigation ul li a{
	display: block;
	padding: 48px 15px 36px 15px;
}

header.style-3 .navigation ul li a {
	padding: 28px 20px 22px 20px;
}

* html .navigation ul li a{ /*IE6 hack to get sub menu links to behave correctly*/
	display: inline-block;
}

.navigation ul li ul li a {
	border-top:0 !important;
}

.navigation ul li ul {
	top:110px  !important;
}

header.style-3 .navigation ul li ul {
	top:67px  !important;
}

.navigation ul li ul li ul, header.style-3 .navigation ul li ul li ul {
	top:0px !important;
}

/*1st sub level menu*/
.navigation ul li ul{
	position: absolute;
	left: 0;
	display: none; /*collapse all sub menus to begin with*/
	visibility: hidden;
}

/*Sub level menu list items (undo style from Top level List Items)*/
.navigation ul li ul li{
	display: list-item;
	float: none;
	margin-left:0;
	text-transform: capitalize;
}

/*All subsequent sub menu levels vertical offset after 1st level sub menu */
.navigation ul li ul li ul{
	top: 0;
}

/* Sub level menu links style */
.navigation ul li ul li a, header.style-3 .navigation ul li ul li a {
	width: 160px; /*width of sub menus*/
	padding: 13px 10px;
	margin: 0;
}

/* Holly Hack for IE \*/
* html .navigation{height: 1%;} /*Holly Hack for IE7 and below*/

.rightarrowclass{
	position: absolute;
	top: 18px;
	right: 10px;
}

.downarrowclass{
	position: absolute;
	top: 12px;
	right: 7px;
	display:none;
}

/* Carousel Slider
=========================================================*/
/* common style */
.slidewrap1, .slidewrap2, .slidewrap3, .slidewrap4 {
	position:relative;
}

.slidecontrols li a.carousel1-next, .slidecontrols li a.carousel1-prev, .slidecontrols li a.carousel2-next, .slidecontrols li a.carousel2-prev, .slidecontrols li a.carousel3-next, .slidecontrols li a.carousel3-prev, .slidecontrols li a.carousel4-next, .slidecontrols li a.carousel4-prev{
	width:29px;
	height:29px;
	display:block;
	cursor:pointer;
}

.slidecontrols li a.carousel1-next.carousel1-disabled, .slidecontrols li a.carousel1-prev.carousel1-disabled, .slidecontrols li a.carousel2-next.carousel2-disabled, .slidecontrols li a.carousel2-prev.carousel2-disabled, .slidecontrols li a.carousel3-next.carousel3-disabled, .slidecontrols li a.carousel3-prev.carousel3-disabled, .slidecontrols li a.carousel4-next.carousel4-disabled, .slidecontrols li a.carousel4-prev.carousel4-disabled {
	display:block;
	cursor:default;
}

/* 1 */
.slidecontrols li a.carousel1-next {
	position:absolute;
	top:0;
	right:10px;
}

.slidecontrols li a.carousel1-prev {
	position:absolute;
	top:0;
	right:44px;
}

.columns .slidecontrols li a.carousel1-next, .column .slidecontrols li a.carousel1-next,
.columns .slidecontrols li a.carousel2-next, .column .slidecontrols li a.carousel2-next,
.columns .slidecontrols li a.carousel3-next, .column .slidecontrols li a.carousel3-next,
.columns .slidecontrols li a.carousel4-next, .column .slidecontrols li a.carousel4-next{
	right:0;
}

.columns .slidecontrols li a.carousel1-prev, .column .slidecontrols li a.carousel1-prev,
.columns .slidecontrols li a.carousel2-prev, .column .slidecontrols li a.carousel2-prev,
.columns .slidecontrols li a.carousel3-prev, .column .slidecontrols li a.carousel3-prev,
.columns .slidecontrols li a.carousel4-prev, .column .slidecontrols li a.carousel4-prev{
	right:34px;
}

/* 2 */
.slidecontrols li a.carousel2-next, .slidecontrols li a.carousel3-next, .slidecontrols li a.carousel4-next {
	position:absolute;
	top:0;
	right:10px;
}

.slidecontrols li a.carousel2-prev, .slidecontrols li a.carousel3-prev, .slidecontrols li a.carousel4-prev {
	position:absolute;
	top:0;
	right:44px;
}

/* jQuery widget Tweets
=========================================================*/
.tweet_list {
	overflow-y: hidden;
	line-height:21px;
}

.tweet_list li {
	overflow-y: auto;
	overflow-x: hidden;
	list-style-type: none;
	padding:0 0 10px 30px;
	margin-bottom:10px;
}

.tweet_list li:last-child {
	margin-bottom:0;
}

.tweet_list li i.icon-twitter {
	margin:3px 11px 0 -31px;
}

/* jQuery Flickr Feed
=========================================================*/
.thumbs {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.thumbs li {
	list-style: none;
	float: left;
	margin: 5px 10px 5px 0;
}

#sidebar.thumbs li {
	width: 29.7%;
}

#footer.thumbs li {
	width: 29%;
	margin: 3px 13px 3px 0;
}

.four.columns #footer.thumbs li {
	width: 30%;
    margin: 3px 6px 3px 0;
}
	
#sidebar.thumbs li img { 
	display: inline-block; width:83px; height:75px; 
} 

#footer.thumbs li img { 
	width: 92px; height: 73px;
} 

.four.columns #footer.thumbs li img {
	width: 92px;
	height: 65px;
}

.thumbs li a img { 
	border: none; opacity:.7; filter:alpha(opacity=70); /* IE patch */
}

.thumbs li a:hover img { 
	opacity:1; filter:alpha(opacity=100); /* IE patch */ 
}

/* UiTop scroll to top page 
=========================================================*/
#toTop {
	display:none;
	text-decoration:none;
	position:fixed;
	bottom:100px;
	right:20px;
	overflow:hidden;
	width:37px;
	height:37px;
	border:none;
	filter:alpha(opacity=80); /* IE patch */
	opacity:.8;
	z-index: 100;
}

#toTop:hover {
	opacity:1;
}

#toTop:active, #toTop:focus {
	outline:none;
}

/* Isotope Filtering
=========================================================*/
.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:         top, left, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

/* End: Recommended Isotope styles */

/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
  -webkit-transition: none;
     -moz-transition: none;
      -ms-transition: none;
       -o-transition: none;
          transition: none;
}


/**** Isotope styles ****/

#contain {
	margin:0;
}

/*
#contain .element-4 { min-height:176px; }
#contain .element-3 { min-height:240px; }
#contain .element-2 { min-height:368px; }
*/

/**** Example Options ****/

#options {
	padding:10px 0 25px 0;
	margin-bottom: 20px;
}

#options li {
  margin:4px 8px 4px 0 ;
}

#options li a {
  padding: 11px 15px;
  display:inline-block;
}

/* The Magnificent Clearfix: nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


/* Flex Slider 
=========================================================*/
.flex-container a:active,.flexslider a:active,.flex-container a:focus,.flexslider a:focus{
	outline:none;
}

.slides,.flex-control-nav,.flex-direction-nav{
	margin: 0px !important;
	padding: 0px !important;
	list-style: none outside none !important;
}

.slides,.flex-control-nav li,.flex-direction-nav li{
	margin: 0px !important;
	padding: 0px !important;
	list-style: none outside none !important;
}

.flexslider, flexslider4{
	margin:0;padding:0;
}

.flexslider .slides>li, .flexslider4 .slides>li{
	display:none;
	-webkit-backface-visibility:hidden;
}

.flexslider .slides img, .flexslider4 .slides img{
	max-width:100%;display:block;
}

.flex-pauseplay span{
	text-transform:capitalize;
}

.slides:after{
	content:".";
	display:block;
	clear:both;
	visibility:hidden;
	line-height:0;
	height:0;
}

html[xmlns] .slides{
	display:block;
}

* html .slides{
	height:1%;
}

.no-js .slides>li:first-child{
	display:block;
}

.flexslider, .flexslider4{
	position:relative;
	zoom:1;
}

.flexslider .slides, .flexslider4 .slides{
	zoom:1;
}

.flexslider .slides>li, .flexslider4 .slides>li{
	position:relative;
}

.flex-container{
	zoom:1;
	position:relative;
}

.flex-direction-nav{
	height:0;
}

.flex-direction-nav li a{
	height:34px;
	margin:0;
	display:block;
	position:absolute;
	top:45%;
	cursor:pointer;
	padding: 8px 15px;
	opacity:.6; filter:alpha(opacity=60);
	z-index:150;
}

.flex-direction-nav li a:hover {
	opacity:.9; filter:alpha(opacity=90);
}

.flex-direction-nav li .flex-next{
	left: 100%;
}

.flex-direction-nav li .flex-prev{
	right:100%;
	margin-right: 15px;
}

.flex-direction-nav li .disabled{
	opacity:.3;
	filter:alpha(opacity=30);
	cursor:default;
}

/* homepage slider settings */
.slider-1 .flex-direction-nav li a, .slider-2 .flex-direction-nav li a{
	height:40px;
	padding: 8px 18px;
}

.slider-1 .flex-direction-nav li .flex-next, .slider-2 .flex-direction-nav li .flex-next{
	position:absolute;
	right:-30px;
	opacity:0; filter:alpha(opacity=0);
	-webkit-transition: all .3s ease;
}

.slider-1:hover .flex-direction-nav li .flex-next, .slider-2:hover .flex-direction-nav li .flex-next {
	opacity:.9; filter:alpha(opacity=90);
	right:0;
}

.slider-1 .flex-direction-nav li .flex-prev, .slider-2 .flex-direction-nav li .flex-prev{
	position:absolute;
	left:-30px;
	opacity:0; filter:alpha(opacity=0);
	-webkit-transition: all .3s ease;
}

.slider-1:hover .flex-direction-nav li .flex-prev, .slider-2:hover .flex-direction-nav li .flex-prev {
	opacity:.9; filter:alpha(opacity=90);
	left:0;
}

/* control nav */
.flex-control-nav{
	width:100%;
	position:absolute;
	bottom:-32px;
	text-align:center;
	-webkit-transition: all .3s ease;
}

.slider-1:hover .flex-control-nav, .slider-2:hover .flex-control-nav {
	bottom:18px;
}

.flex-control-nav li{
	margin:0 0 0 5px;
	display:inline-block;
	zoom:1;
	*display:inline;
}

.flex-control-nav li:first-child{
	margin:0;
}

.flex-control-nav li a{
	width: 14px;
	height: 14px;
	display: block;
	cursor: pointer;
	text-indent: -999em;
	border-radius: 50%;
	opacity:.8; filter:alpha(opacity=80);
}


/* Contact form notification
=========================================================*/
.notification_error
{	
	height: auto;
	margin: 10px 0 20px 0;
	padding: 10px;
	line-height: 24px;
	color: #F30303;
}

.notification_ok
{
    height: auto;
	margin: 20px 0 70px 0;
	padding: 30px 10px;
	background: #6BBD64;
	line-height: 24px;
}

/* jQuery FancyBox
=========================================================*/
/*! fancyBox v2.1.4 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp
{
	padding: 0;
	margin: 0;
	border: 0;
	outline: none;
	vertical-align: top;
}

.fancybox-wrap {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 8020;
}

.fancybox-skin {
	position: relative;
	background: #f9f9f9;
	color: #444;
	text-shadow: none;
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	        border-radius: 4px;
}

.fancybox-opened {
	z-index: 8030;
}

.fancybox-opened .fancybox-skin {
	-webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
	   -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
	        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.fancybox-outer, .fancybox-inner {
	position: relative;
}

.fancybox-inner {
	overflow: hidden;
}

.fancybox-type-iframe .fancybox-inner {
	-webkit-overflow-scrolling: touch;
}

.fancybox-error {
	color: #444;
	font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
	margin: 0;
	padding: 15px;
	white-space: nowrap;
}

.fancybox-image, .fancybox-iframe {
	display: block;
	width: 100%;
	height: 100%;
}

.fancybox-image {
	max-width: 100%;
	max-height: 100%;
}

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
	background-image: url('../js/fancybox/fancybox_sprite.png');
}

#fancybox-loading {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -22px;
	margin-left: -22px;
	background-position: 0 -108px;
	opacity: 0.8;
	cursor: pointer;
	z-index: 8060;
}

#fancybox-loading div {
	width: 44px;
	height: 44px;
	background: url('../js/fancybox/fancybox_loading.gif') center center no-repeat;
}

.fancybox-close {
	position: absolute;
	top: -18px;
	right: -18px;
	width: 36px;
	height: 36px;
	cursor: pointer;
	z-index: 8040;
}

.fancybox-nav {
	position: absolute;
	top: 0;
	width: 40%;
	height: 100%;
	cursor: pointer;
	text-decoration: none;
	background: transparent url('../js/fancybox/blank.gif'); /* helps IE */
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	z-index: 8040;
}

.fancybox-prev {
	left: 0;
}

.fancybox-next {
	right: 0;
}

.fancybox-nav span {
	position: absolute;
	top: 50%;
	width: 36px;
	height: 34px;
	margin-top: -18px;
	cursor: pointer;
	z-index: 8040;
	visibility: hidden;
}

.fancybox-prev span {
	left: 10px;
	background-position: 0 -36px;
}

.fancybox-next span {
	right: 10px;
	background-position: 0 -72px;
}

.fancybox-nav:hover span {
	visibility: visible;
}

.fancybox-tmp {
	position: absolute;
	top: -99999px;
	left: -99999px;
	visibility: hidden;
	max-width: 99999px;
	max-height: 99999px;
	overflow: visible !important;
}

/* Overlay helper */

.fancybox-lock {
	overflow: hidden;
}

.fancybox-overlay {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	display: none;
	z-index: 8010;
	background: url('../js/fancybox/fancybox_overlay.png');
}

.fancybox-overlay-fixed {
	position: fixed;
	bottom: 0;
	right: 0;
}

.fancybox-lock .fancybox-overlay {
	overflow: auto;
	overflow-y: scroll;
}

/* Title helper */

.fancybox-title {
	visibility: hidden;
	font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
	position: relative;
	text-shadow: none;
	z-index: 8050;
}

.fancybox-opened .fancybox-title {
	visibility: visible;
}

.fancybox-title-float-wrap {
	position: absolute;
	bottom: 0;
	right: 50%;
	margin-bottom: -35px;
	z-index: 8050;
	text-align: center;
}

.fancybox-title-float-wrap .child {
	display: inline-block;
	margin-right: -100%;
	padding: 2px 20px;
	background: transparent; /* Fallback for web browsers that doesn't support RGBa */
	-webkit-border-radius: 2px;
	   -moz-border-radius: 2px;
	        border-radius: 2px;
	color: #FFF;
	font-weight: bold;
	line-height: 24px;
	white-space: nowrap;
}

html.ie.ie9 .fancybox-title-float-wrap .child {
	margin-right: -55%;
}

.fancybox-title-float-wrap .child a {
	color:#000;
}

.fancybox-title-outside-wrap {
	position: relative;
	margin-top: 10px;
	color: #fff;
}

.fancybox-title-inside-wrap {
	padding-top: 10px;
}

.fancybox-title-over-wrap {
	position: absolute;
	bottom: 0;
	left: 0;
	color: #fff;
	padding: 10px;
	background: #000;
	background: rgba(0, 0, 0, .8);
}