
/* Highlight & Tooltips
=========================================================*/
.box {
	padding:15px;
}

.colorTip{
	/* This class is assigned to the color tip span by jQuery */
	display:none;
	position:absolute;	
	left:50%;
	top:-30px;
	padding:6px;
	
	background-color:white;
	font-family:Arial,Helvetica,sans-serif;
	font-size:11px;
	font-style:normal;
	line-height:1;
	text-decoration:none;
	text-align:center;
	text-shadow:0 0 1px white;
	white-space:nowrap;
	
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
}

.pointyTip,.pointyTipShadow{
	/* Setting a thick transparent border on a 0x0 div to create a triangle */
	border:6px solid transparent;
	bottom:-12px;
	height:0;
	left:50%;
	margin-left:-6px;
	position:absolute;
	width:0;
}

.pointyTipShadow{
	/* The shadow tip is 1px larger, so it acts as a border to the tip */
	border-width:7px;
	bottom:-14px;
	margin-left:-7px;
}

.colorTipContainer{
	position:relative;
	text-decoration:none !important;
	display:inline-block;
}

.white .pointyTip{ border-top-color:white;}
.white .pointyTipShadow{ border-top-color:#ddd;}
.white .colorTip{
	background-color:white;
	border:1px solid #DDDDDD;
	color:#555555;
}

.yellow .pointyTip{ border-top-color:#f9f2ba;}
.yellow .pointyTipShadow{ border-top-color:#e9d315;}
.yellow .colorTip{
	background-color:#f9f2ba;
	border:1px solid #e9d315;
	color:#5b5316;
}

.black .pointyTip{ border-top-color:#333;}
.black .pointyTipShadow{ border-top-color:#111;}
.black .colorTip{
	background-color:#333;
	border:1px solid #111;
	color:#fcfcfc;
	text-shadow:none;
}

/* Social Icons
=========================================================*/
.social-normal i, .social-color i { 
    display:inline-block;
	margin:10px;
}

.social-color {
	padding:10px;
}

.the-icons {
	margin:0 20px 0 20px;
	padding:0 8px;
}

.the-icons li {
	margin:8px 0;
	vertical-align: baseline;
}

.the-icons li i {
	margin-right:10px;
}

.icons-color {
	overflow:hidden;
}

/* Accordion
=========================================================*/
.ui-accordion .ui-accordion-header {
	display: block; 
	cursor: pointer; 
	position: relative; 
	zoom: 1; 
}

.accordion h4 {
	padding:10px 20px;
	margin-bottom:4px;
}

.accordion p {
	padding:13px 17px;
	margin-bottom:4px;
}

.accordion .icon-plus, .accordion .icon-minus  {
	margin-top: 8px;
}

.ui-accordion .ui-accordion-content {
	overflow: hidden;
	zoom: 1; 
}

/* style 2 */
.accordion.style2 h4, .accordion.style2 p {
	background:none !important;
}

.accordion.style2 h4 {
	margin-bottom:0;
	padding:11px 20px 11px 0;
}

.accordion.style2 h4.ui-state-active {
	border-bottom:0 !important;
}

.accordion.style2 p {
	padding:5px 0 20px 0;
	margin-bottom:0;
}

.accordion.style2 .icon-plus, .accordion.style2 .icon-minus  {
	margin-top: 0;
	margin-right:17px;
	padding:7px 9px;
}

/* Progress Bar
=========================================================*/
.progress-bar .meter, .meter .meter-content {
	height: 37px;
}

.progress-bar .meter { 
	position: relative;
	margin-bottom:20px;
}

.meter .meter-content[data-percentage] {
	text-indent: -9999px;
}

.meter .meter-title {
	top: 12px;
    left: 17px;
	position: absolute;
}

/* Buttons
=========================================================*/
.button {
	display:inline-block;
	margin:5px 5px 5px 0;
	border:none;
	cursor:pointer;
	text-shadow:none !important;
}

.button.small {
	padding: 12px 22px;
}

.button, .button.medium {
	padding: 15px 30px;
}

.button.large {
	padding: 17px 31px;
}

/* Tabs
=========================================================*/

/* horizontal tabs */
#horizontal-tabs ul.tabs {
	overflow:hidden;
}

#horizontal-tabs ul.tabs li {
	padding:16px 22px;
	cursor:pointer;
}

#horizontal-tabs .tabscontent.no-padding {
	padding-left:0; padding-right:0;
}

#horizontal-tabs .contents {
	margin-top:-1px;
}

/* vertical tabs */
#vertical-tabs .contents {
	width:65%;
}

#vertical-tabs ul.tabs {
	overflow:hidden;
	width:34%;
	position:relative;
}

#vertical-tabs ul.tabs li {
	padding:16px 22px;
	cursor:pointer;
}

#vertical-tabs .contents {
	margin-left:-1px;
}

/* common */
#horizontal-tabs ul.tabs li.current, #vertical-tabs ul.tabs li.current {
	background:none;
	cursor:default;
}

#horizontal-tabs .tabscontent, #vertical-tabs .tabscontent {
	padding:20px;
	display:none;
	overflow: hidden;
}

/* style2 */
#horizontal-tabs.style2 ul.tabs li, #horizontal-tabs.style2 ul.tabs, #horizontal-tabs.style2 .contents, #vertical-tabs.style2 ul.tabs li, #vertical-tabs.style2 ul.tabs, #vertical-tabs.style2 .contents {
	border:none !important;
}

#horizontal-tabs.style2 ul.tabs li {
	margin-right:3px;
	margin-bottom:3px;
}

#horizontal-tabs.style2 .contents {
	margin-top:1px;
}

#vertical-tabs.style2 ul.tabs li {
	margin-bottom:3px;
}

#vertical-tabs.style2 .contents {
	margin-left:4px;
}

/* Alert Boxes
=========================================================*/
.alert {
	padding:14px 30px 14px 20px;
	position:relative;
	margin-bottom:16px;
}

.error {
	background-color: #f9d9d9;
	color: #aa4343;
}

.success {
	background-color: #d8f1c6;
	color: #769958;
}

.info {
	background-color: #d7e3f4;
	color: #728095;
}

.notice {
	background-color: #fbf4dd;
	color: #a38c68;
}

.alert i {
	margin:1px 10px 0 0 ;
}

.close { position:absolute; right: 4px; top: 16px; cursor:pointer; }

/* Toggle
=========================================================*/
#toggle-view li {
	position:relative;
	cursor:pointer;
	margin-bottom:17px;
}

#toggle-view li h4{
    padding: 10px 20px;
}

#toggle-view span.link {
	position:absolute;
	right: 18px;
	top: 13px;
}

#toggle-view .panel {
	padding: 13px 17px;
	display:none;
	cursor:text;
}

#toggle-view .panel.normal, #toggle-view li h4.normal.border {
	background:none;
}

/* Blockquote
=========================================================*/
blockquote {
	padding:15px;
	margin-bottom:10px;
}

/* Info Box
=========================================================*/
.info-box {
	padding:17px;
}

/* Dropcaps
=========================================================*/
.dropcap {
	padding:5px 10px;
	float: left;
    margin: 5px 10px 0 0;
}

/* List Styles
=========================================================*/
.square-list li, .check-list li, .plus-list li, .arrow-list li, .cross-list li, .star-list li, .minus-list li, .heart-list li, .circle-list li, .asterisk-list li {
	padding:5px 5px 5px 18px;
	line-height:20px;
	position: relative;
}

.square-list li:before {
	content: '\f04d'; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit;
    font-size: 6px; position: absolute; top: 5px; left: 0;
}

.check-list li:before {
	content: '\f00c'; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit;
    font-size: 11px; position: absolute; top: 4px; left: 0;
}

.plus-list li:before {
	content: '\f067'; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit;
    font-size: 10px; position: absolute; top: 5px; left: 0;
}

.arrow-list li:before {
	content: '\f054'; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit;
    font-size: 11px; position: absolute; top: 6px; left: 0;
}

.cross-list li:before {
	content: '\f00d'; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit;
    font-size: 12px; position: absolute; top: 5px; left: 0;
}

.star-list li:before {
	content: '\f005'; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit;
    font-size: 11px; position: absolute; top: 5px; left: 0;
}

.minus-list li:before {
	content: '\f068'; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit;
    font-size: 10px; position: absolute; top: 6px; left: 0;
}

.heart-list li:before {
	content: '\f004'; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit;
    font-size: 9px; position: absolute; top: 5px; left: 0;
}

.circle-list li:before {
	content: '\f111'; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit;
    font-size: 8px; position: absolute; top: 5px; left: 0;
}

.asterisk-list li:before {
	content: '\f069'; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit;
    font-size: 9px; position: absolute; top: 5px; left: 0;
}


/* Pagination
=========================================================*/
.pagination {
	margin:25px 0 5px 0;
	overflow:hidden;
}

.pagination a {
	margin:5px 5px 0 0;
	padding:9px 14px;
}

.pagination a.next-button, .pagination a.prev-button {
	padding: 3px 14px;
}

/* Breadcrumbs
=========================================================*/
.breadcrumbs {
	padding:12px 12px 12px 6px;
}

.breadcrumbs li {
	display:inline;
	padding:0 ;
}

.breadcrumbs li i { margin:0 10px; }

.breadcrumbs.gray, .breadcrumbs.normal {
	border:none;
}

/* Videos
=========================================================*/
.video-wrap {
	height: 0;
	padding-top: 25px;
	padding-bottom: 67.5%;
	margin-bottom: 10px;
	position: relative;
	overflow: hidden;
}

.video-wrap.vimeo {
	padding-top: 0;
}

.video-wrap.widescreen {
	padding-bottom: 57.25%;
}

.video-wrap embed, .video-wrap iframe, .video-wrap object, .video-wrap video {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: absolute;
}

/* Responsive */
@media (max-width: 767px) {
	.video-wrap {
		padding-top: 0;
	}
}

/* Tables
=========================================================*/
table.style {
	width:100%;
	margin-bottom: 10px;
	text-align:left;
}

table.style th {
font-weight: bold;
}

table.style th, table.style td {
	padding:11px;
}

/* Form Elements
=========================================================*/
.form-elements input[type="text"], .form-elements select, .form-elements textarea {
	padding:10px;
}

.form-elements input[type="text"] {
	min-width:220px;
}

.form-elements select {
	min-width:240px;
	margin-top:10px;
}

.form-elements textarea {
	margin-top:15px;
	min-height:214px;
	width:95%;
}

.form-elements fieldset {
	margin-bottom:10px;
	min-height:30px;
}

.form-elements span {
	min-width:90px;
	display:inline-block;
} 

/* Checkboxes and Radio inputs */
.form-elements input[type="radio"], .form-elements input[type="checkbox"] { 
	position: absolute; left: -999em; 
}

.form-elements label {
	cursor:pointer;
}

.form-elements label:before { 
	display: inline-block; position: relative; top:7px; left:0; 
	content:''; width:25px; height:25px;
	background-image:url(../images/icons/formelements.png); 
	margin-right: 4px;
}

.form-elements input[type="checkbox"] + label:before { background-position: 0 -25px;}
.form-elements input[type="checkbox"]:checked + label:before {background-position: 0 0 ; }
.form-elements input[type="radio"] + label:before { background-position: -25px -25px;}	 	
.form-elements input[type="radio"]:checked + label:before { background-position: -25px 0;}

/* Remove the custom styling for IE 7-8 */
.ie8 .form-elements label:before { display:none; content:none; }
.ie8 .form-elements input[type="checkbox"], .ie8 .form-elements input[type="radio"], .ie7 .form-elements input[type="checkbox"], .ie7 .form-elements input[type="radio"]{ 
	position: static; left:0; 
}

.ie8 .form-elements input[type="checkbox"], .ie8 .form-elements input[type="radio"] { 
	position:relative; top:2px; margin-right:5px;
}	
	
/* welcome, qoute box
=========================================================*/
.welcome {
	padding: 30px 10%;
	margin-bottom: 25px;
}

.welcome p {
	line-height:37px;
}

.qoute {
	padding: 30px 3%;
    overflow: hidden;
	margin-bottom: 25px;
}

/* pricing tables */
.tables-column {
	margin-bottom:20px !important;
}

.tables-column .header h3 {
	padding: 12px 10px;
	margin-bottom:0;
	position:relative;
	overflow:hidden;
}

.tables-column .header h3 span.pop {
	padding: 0 20px;
	display: inline-block;
	height: 21px;
	line-height: 24px;
	position: absolute;
	top: 12px;
	right: -20px;
}

.tables-column .header .price {
	padding:15px 10px;
}

.tables-column .header .price h2 {
	margin-bottom:3px;
	font-weight:bold;
}

.tables-column .list {
	padding:3px 15px;
}

.tables-column .list li {
	padding:13px 0;
}

.tables-column .footer {
	margin: 20px 0 25px 0;
	padding:0 20px;
}

.tables-column .footer h4 a {
	display:block;
	padding:7px;
}

/*
 * Plugin: Symple Shortcodes Plugin
 * Author: AJ Clarke : http://wpexplorer.com
 * Copyright: Copyright (c) 2012, AJ Clarke
 * License: GNU General Public License version 2.0
 * License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/


/* Clear Floats
================================================== */
.symple-clear-floats { clear: both }
.symple-clearfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
/* Spacing
================================================== */
.symple-spacing { display: block; height: auto; margin: 0 !important; padding: 0 !important; background: none !important; border: none !important; outline: none !important; }
/* Divider
================================================== */
.symple-divider { display: block; width: 100%; height: 0; margin: 0; background: none !important; }
.symple-divider.solid { border-top: 1px solid #eee }
.symple-divider.dashed { border-top: 2px dashed #eee }
.symple-divider.dotted { border-top: 3px dotted #eee }
.symple-divider.double { height: 5px; border-top: 1px solid #eee; border-bottom: 1px solid #eee; }
.symple-divider.fadeout { width: 100%; height: 1px; border: none; margin-bottom: 42px; margin-top: 12px; margin-left: auto; margin-right: auto; background-image: -webkit-gradient(radial, 50% 50%,0,50% 50%,200, from(#dddddd), to(#f9f9f9)) !important; background-image: -webkit-radial-gradient(50% 50%, #dddddd, #f9f9f9) !important; background-image: -moz-radial-gradient(50% 50%, #dddddd, #f9f9f9) !important; background-image: -o-radial-gradient(50% 50%, #dddddd, #f9f9f9) !important; background-image: -ms-radial-gradient(50% 50%, #dddddd, #f9f9f9) !important; background-image: radial-gradient(50% 50%, #dddddd, #f9f9f9) !important; }
.symple-divider.fadein { width: 100%; height: 1px; border: none; margin-bottom: 42px; margin-top: 12px; margin-left: auto; margin-right: auto; background-image: -webkit-gradient(radial, 50% 50%,0,50% 50%,200, from(#dddddd), to(#f9f9f9)) !important; background-image: -webkit-radial-gradient(50% 50%, #dddddd, #f9f9f9) !important; background-image: -moz-radial-gradient(50% 50%, #dddddd, #f9f9f9) !important; background-image: -o-radial-gradient(50% 50%, #dddddd, #f9f9f9) !important; background-image: -ms-radial-gradient(50% 50%, #dddddd, #f9f9f9) !important; background-image: radial-gradient(50% 50%, #dddddd, #f9f9f9) !important; }
/* Social
================================================== */
.symple-social-icon { display: inline-block; margin-right: 5px; }
.symple-social-icon img { display: inline; border: none; outline: none; padding: 0; margin: 0; box-shadow: none !important; }
.symple-social-icon img:hover { opacity: 0.8 }
/* Columns
================================================== */
.symple-one-half { width: 48% }
.symple-one-third { width: 30.66% }
.symple-two-third { width: 65.33% }
.symple-one-fourth { width: 22% }
.symple-three-fourth { width: 74% }
.symple-one-fifth { width: 16.8% }
.symple-two-fifth { width: 37.6% }
.symple-three-fifth { width: 58.4% }
.symple-four-fifth { width: 67.2% }
.symple-one-sixth { width: 13.33% }
.symple-five-sixth { width: 82.67% }
.symple-one-half, .symple-one-third, .symple-two-third, .symple-three-fourth, .symple-one-fourth, .symple-one-fifth, .symple-two-fifth, .symple-three-fifth, .symple-four-fifth, .symple-one-sixth, .symple-five-sixth { position: relative; margin-right: 4%; margin-bottom: 2em; float: left; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.symple-column-last { margin-right: 0!important; clear: right; }
.symple-column-last:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
.symple-one-half, .symple-one-third, .symple-two-third, .symple-three-fourth, .symple-one-fourth, .symple-one-fifth, .symple-two-fifth, .symple-three-fifth, .symple-four-fifth, .symple-one-sixth, .symple-five-sixth { }
/* Buttons
================================================== */
.symple-button { font-family: 'Helvetica Neue', Helvetica, Arial, Helvetica, sans-serif; margin: 5px 5px 5px 0; cursor: pointer; display: inline-block; white-space: nowrap; nowhitespace: afterproperty; text-align: center; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5); outline: none; border: 1px solid #7e7e7e; border-radius: 3px; background: #aaaaaa; text-decoration: none !important; background: -moz-linear-gradient(top,  #aaaaaa 0%, #7e7e7e 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#aaaaaa), color-stop(100%,#7e7e7e)); background: -webkit-linear-gradient(top,  #aaaaaa 0%,#7e7e7e 100%); background: -o-linear-gradient(top,  #aaaaaa 0%,#7e7e7e 100%); background: -ms-linear-gradient(top,  #aaaaaa 0%,#7e7e7e 100%); background: linear-gradient(to bottom,  #aaaaaa 0%,#7e7e7e 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aaaaaa', endColorstr='#7e7e7e',GradientType=0 ); border: 1px solid #7e7e7e; -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); }
.symple-button span.symple-button-inner { display: block; color: #fff; font-weight: bold; padding: 1.1em 1.4em; line-height: 0.8em; text-decoration: none; text-align: center; white-space: nowrap; text-shadow: 0 -1px 0 rgba(0,0,0,0.35); border-top: 1px solid #c3c3c3; border-radius: 3px; }
.symple-button:active { text-decoration: none; background: #7e7e7e; background: -moz-linear-gradient(top,  #7e7e7e 0%, #aaaaaa 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7e7e7e), color-stop(100%,#aaaaaa)); background: -webkit-linear-gradient(top,  #7e7e7e 0%,#aaaaaa 100%); background: -o-linear-gradient(top,  #7e7e7e 0%,#aaaaaa 100%); background: -ms-linear-gradient(top,  #7e7e7e 0%,#aaaaaa 100%); background: linear-gradient(to bottom,  #7e7e7e 0%,#aaaaaa 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7e7e7e', endColorstr='#aaaaaa',GradientType=0 ); }
.symple-button:hover { text-decoration: none; opacity: 0.9; -moz-opacity: 0.9; -webkit-opacity: 0.9; }
.symple-button.black { background: #505050; background: -moz-linear-gradient(top,  #505050 0%, #101010 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#505050), color-stop(100%,#101010)); background: -webkit-linear-gradient(top,  #505050 0%,#101010 100%); background: -o-linear-gradient(top,  #505050 0%,#101010 100%); background: -ms-linear-gradient(top,  #505050 0%,#101010 100%); background: linear-gradient(to bottom,  #505050 0%,#101010 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#505050', endColorstr='#101010',GradientType=0 ); border: 1px solid #101010; }
.symple-button.black:active { background: #101010; background: -moz-linear-gradient(top,  #101010 0%, #505050 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#101010), color-stop(100%,#505050)); background: -webkit-linear-gradient(top,  #101010 0%,#505050 100%); background: -o-linear-gradient(top,  #101010 0%,#505050 100%); background: -ms-linear-gradient(top,  #101010 0%,#505050 100%); background: linear-gradient(to bottom,  #101010 0%,#505050 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#101010', endColorstr='#505050',GradientType=0 ); }
.symple-button.black span.symple-button-inner { border-top: 1px solid #6e6e6e }
.symple-button.red { background: #d01d10; background: -moz-linear-gradient(top,  #f36d64 0%, #d01d10 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f36d64), color-stop(100%,#d01d10)); background: -webkit-linear-gradient(top,  #f36d64 0%,#d01d10 100%); background: -o-linear-gradient(top,  #f36d64 0%,#d01d10 100%); background: -ms-linear-gradient(top,  #f36d64 0%,#d01d10 100%); background: linear-gradient(to bottom,  #f36d64 0%,#d01d10 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f36d64', endColorstr='#d01d10',GradientType=0 ); border: 1px solid #d01d10; }
.symple-button.red span.symple-button-inner { border-top: 1px solid #f69a93 }
.symple-button.red:active { background: #d01d10; background: -moz-linear-gradient(top,  #d01d10 0%, #f36d64 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d01d10), color-stop(100%,#f36d64)); background: -webkit-linear-gradient(top,  #d01d10 0%,#f36d64 100%); background: -o-linear-gradient(top,  #d01d10 0%,#f36d64 100%); background: -ms-linear-gradient(top,  #d01d10 0%,#f36d64 100%); background: linear-gradient(to bottom,  #d01d10 0%,#f36d64 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d01d10', endColorstr='#f36d64',GradientType=0 ); }
.symple-button.orange { background: #fa9e19; background: -moz-linear-gradient(top,  #fa9e19 0%, #fb6909 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fa9e19), color-stop(100%,#fb6909)); background: -webkit-linear-gradient(top,  #fa9e19 0%,#fb6909 100%); background: -o-linear-gradient(top,  #fa9e19 0%,#fb6909 100%); background: -ms-linear-gradient(top,  #fa9e19 0%,#fb6909 100%); background: linear-gradient(to bottom,  #fa9e19 0%,#fb6909 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fa9e19', endColorstr='#fb6909',GradientType=0 ); border: 1px solid #FB6909; }
.symple-button.orange span.symple-button-inner { border-top: 1px solid #fcc87d }
.symple-button.orange:active { background: #fb6909; background: -moz-linear-gradient(top,  #fb6909 0%, #fa9e19 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fb6909), color-stop(100%,#fa9e19)); background: -webkit-linear-gradient(top,  #fb6909 0%,#fa9e19 100%); background: -o-linear-gradient(top,  #fb6909 0%,#fa9e19 100%); background: -ms-linear-gradient(top,  #fb6909 0%,#fa9e19 100%); background: linear-gradient(to bottom,  #fb6909 0%,#fa9e19 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fb6909', endColorstr='#fa9e19',GradientType=0 ); }
.symple-button.blue { background: #1571f0; background: -moz-linear-gradient(top,  #41a7fc 0%, #1571f0 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#41a7fc), color-stop(100%,#1571f0)); background: -webkit-linear-gradient(top,  #41a7fc 0%,#1571f0 100%); background: -o-linear-gradient(top,  #41a7fc 0%,#1571f0 100%); background: -ms-linear-gradient(top,  #41a7fc 0%,#1571f0 100%); background: linear-gradient(to bottom,  #41a7fc 0%,#1571f0 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#41a7fc', endColorstr='#1571f0',GradientType=0 ); border: 1px solid #1a6dd7; }
.symple-button.blue span.symple-button-inner { border-top: 1px solid #84c6fd }
.symple-button.blue:active { background: #1571f0; background: -moz-linear-gradient(top,  #1571f0 0%, #41a7fc 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1571f0), color-stop(100%,#41a7fc)); background: -webkit-linear-gradient(top,  #1571f0 0%,#41a7fc 100%); background: -o-linear-gradient(top,  #1571f0 0%,#41a7fc 100%); background: -ms-linear-gradient(top,  #1571f0 0%,#41a7fc 100%); background: linear-gradient(to bottom,  #1571f0 0%,#41a7fc 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1571f0', endColorstr='#41a7fc',GradientType=0 ); }
.symple-button.rosy { background: #f295a2; background: -moz-linear-gradient(top,  #ee7787 0%, #e84a5f 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ee7787), color-stop(100%,#e84a5f)); background: -webkit-linear-gradient(top,  #ee7787 0%,#e84a5f 100%); background: -o-linear-gradient(top,  #ee7787 0%,#e84a5f 100%); background: -ms-linear-gradient(top,  #ee7787 0%,#e84a5f 100%); background: linear-gradient(to bottom,  #ee7787 0%,#e84a5f 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ee7787', endColorstr='#e84a5f',GradientType=0 ); border: 1px solid #e84a5f; }
.symple-button.rosy:active { background: #e84a5f; background: -moz-linear-gradient(top,  #e84a5f 0%, #ee7787 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e84a5f), color-stop(100%,#ee7787)); background: -webkit-linear-gradient(top,  #e84a5f 0%,#ee7787 100%); background: -o-linear-gradient(top,  #e84a5f 0%,#ee7787 100%); background: -ms-linear-gradient(top,  #e84a5f 0%,#ee7787 100%); background: linear-gradient(to bottom,  #e84a5f 0%,#ee7787 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e84a5f', endColorstr='#ee7787',GradientType=0 ); }
.symple-button.rosy span.symple-button-inner { border-top: 1px solid #f3a4af }
.symple-button.pink { background: #e3618d; background: -moz-linear-gradient(top,  #e3618d 0%, #cb245c 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e3618d), color-stop(100%,#cb245c)); background: -webkit-linear-gradient(top,  #e3618d 0%,#cb245c 100%); background: -o-linear-gradient(top,  #e3618d 0%,#cb245c 100%); background: -ms-linear-gradient(top,  #e3618d 0%,#cb245c 100%); background: linear-gradient(to bottom,  #e3618d 0%,#cb245c 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3618d', endColorstr='#cb245c',GradientType=0 ); border: 1px solid #cb245c; }
.symple-button.pink:active { background: #cb245c; background: -moz-linear-gradient(top,  #cb245c 0%, #e3618d 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cb245c), color-stop(100%,#e3618d)); background: -webkit-linear-gradient(top,  #cb245c 0%,#e3618d 100%); background: -o-linear-gradient(top,  #cb245c 0%,#e3618d 100%); background: -ms-linear-gradient(top,  #cb245c 0%,#e3618d 100%); background: linear-gradient(to bottom,  #cb245c 0%,#e3618d 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cb245c', endColorstr='#e3618d',GradientType=0 ); }
.symple-button.pink span.symple-button-inner { border-top: 1px solid #eb8cac }
.symple-button.green { color: #fff; background: #88dd48; background: -moz-linear-gradient(top,  #88dd48 0%, #5fb139 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#88dd48), color-stop(100%,#5fb139)); background: -webkit-linear-gradient(top,  #88dd48 0%,#5fb139 100%); background: -o-linear-gradient(top,  #88dd48 0%,#5fb139 100%); background: -ms-linear-gradient(top,  #88dd48 0%,#5fb139 100%); background: linear-gradient(to bottom,  #88dd48 0%,#5fb139 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#88dd48', endColorstr='#5fb139',GradientType=0 ); border-color: #60AE40; }
.symple-button.green span.symple-button-inner { border-top: 1px solid #b7ea90 }
.symple-button.green:active { background: #5fb139; background: -moz-linear-gradient(top,  #5fb139 0%, #88dd48 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5fb139), color-stop(100%,#88dd48)); background: -webkit-linear-gradient(top,  #5fb139 0%,#88dd48 100%); background: -o-linear-gradient(top,  #5fb139 0%,#88dd48 100%); background: -ms-linear-gradient(top,  #5fb139 0%,#88dd48 100%); background: linear-gradient(to bottom,  #5fb139 0%,#88dd48 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5fb139', endColorstr='#88dd48',GradientType=0 ); }
.symple-button.brown { background: #876565; background: -moz-linear-gradient(top,  #876565 0%, #604848 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#876565), color-stop(100%,#604848)); background: -webkit-linear-gradient(top,  #876565 0%,#604848 100%); background: -o-linear-gradient(top,  #876565 0%,#604848 100%); background: -ms-linear-gradient(top,  #876565 0%,#604848 100%); background: linear-gradient(to bottom,  #876565 0%,#604848 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#876565', endColorstr='#604848',GradientType=0 ); border: 1px solid #604848; }
.symple-button.brown:active { background: #604848; background: -moz-linear-gradient(top,  #604848 0%, #876565 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#604848), color-stop(100%,#876565)); background: -webkit-linear-gradient(top,  #604848 0%,#876565 100%); background: -o-linear-gradient(top,  #604848 0%,#876565 100%); background: -ms-linear-gradient(top,  #604848 0%,#876565 100%); background: linear-gradient(to bottom,  #604848 0%,#876565 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#604848', endColorstr='#876565',GradientType=0 ); }
.symple-button.brown span.symple-button-inner { border-top: 1px solid #ae9393 }
.symple-button.purple { background: #524656; background: -moz-linear-gradient(top,  #635569 0%, #372f3a 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#635569), color-stop(100%,#372f3a)); background: -webkit-linear-gradient(top,  #635569 0%,#372f3a 100%); background: -o-linear-gradient(top,  #635569 0%,#372f3a 100%); background: -ms-linear-gradient(top,  #635569 0%,#372f3a 100%); background: linear-gradient(to bottom,  #635569 0%,#372f3a 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#635569', endColorstr='#372f3a',GradientType=0 ); border: 1px solid #372f3a; }
.symple-button.purple:active { background: #372f3a; background: -moz-linear-gradient(top,  #372f3a 0%, #635569 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#372f3a), color-stop(100%,#635569)); background: -webkit-linear-gradient(top,  #372f3a 0%,#635569 100%); background: -o-linear-gradient(top,  #372f3a 0%,#635569 100%); background: -ms-linear-gradient(top,  #372f3a 0%,#635569 100%); background: linear-gradient(to bottom,  #372f3a 0%,#635569 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#372f3a', endColorstr='#635569',GradientType=0 ); }
.symple-button.purple span.symple-button-inner { border-top: 1px solid #7e6c85 }
.symple-button.gold { background: #ffc750; background: -moz-linear-gradient(top,  #ffc750 0%, #faaa00 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffc750), color-stop(100%,#faaa00)); background: -webkit-linear-gradient(top,  #ffc750 0%,#faaa00 100%); background: -o-linear-gradient(top,  #ffc750 0%,#faaa00 100%); background: -ms-linear-gradient(top,  #ffc750 0%,#faaa00 100%); background: linear-gradient(to bottom,  #ffc750 0%,#faaa00 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc750', endColorstr='#faaa00',GradientType=0 ); border: 1px solid #faaa00; }
.symple-button.gold:active { background: #faaa00; background: -moz-linear-gradient(top,  #faaa00 0%, #ffc750 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#faaa00), color-stop(100%,#ffc750)); background: -webkit-linear-gradient(top,  #faaa00 0%,#ffc750 100%); background: -o-linear-gradient(top,  #faaa00 0%,#ffc750 100%); background: -ms-linear-gradient(top,  #faaa00 0%,#ffc750 100%); background: linear-gradient(to bottom,  #faaa00 0%,#ffc750 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#faaa00', endColorstr='#ffc750',GradientType=0 ); }
.symple-button.gold span.symple-button-inner { color: #9C6533; text-shadow: 1px 1px 1px #ffe2a5; border-top: 1px solid #ffd783; }
.symple-button.teal { background: #3c9091; background: -moz-linear-gradient(top,  #3c9091 0%, #286061 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3c9091), color-stop(100%,#286061)); background: -webkit-linear-gradient(top,  #3c9091 0%,#286061 100%); background: -o-linear-gradient(top,  #3c9091 0%,#286061 100%); background: -ms-linear-gradient(top,  #3c9091 0%,#286061 100%); background: linear-gradient(to bottom,  #3c9091 0%,#286061 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3c9091', endColorstr='#286061',GradientType=0 ); border: 1px solid #286061; }
.symple-button.teal:active { background: #286061; background: -moz-linear-gradient(top,  #286061 0%, #3c9091 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#286061), color-stop(100%,#3c9091)); background: -webkit-linear-gradient(top,  #286061 0%,#3c9091 100%); background: -o-linear-gradient(top,  #286061 0%,#3c9091 100%); background: -ms-linear-gradient(top,  #286061 0%,#3c9091 100%); background: linear-gradient(to bottom,  #286061 0%,#3c9091 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#286061', endColorstr='#3c9091',GradientType=0 ); }
.symple-button.teal span.symple-button-inner { border-top: 1px solid #63bdbf }
.symple-button.navy { background: #2c76cf; background: -moz-linear-gradient(top,  #2c76cf 0%, #1d4e89 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2c76cf), color-stop(100%,#1d4e89)); background: -webkit-linear-gradient(top,  #2c76cf 0%,#1d4e89 100%); background: -o-linear-gradient(top,  #2c76cf 0%,#1d4e89 100%); background: -ms-linear-gradient(top,  #2c76cf 0%,#1d4e89 100%); background: linear-gradient(to bottom,  #2c76cf 0%,#1d4e89 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c76cf', endColorstr='#1d4e89',GradientType=0 ); border: 1px solid #1d4e89; }
.symple-button.navy:active { background: #1d4e89; background: -moz-linear-gradient(top,  #1d4e89 0%, #2c76cf 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1d4e89), color-stop(100%,#2c76cf)); background: -webkit-linear-gradient(top,  #1d4e89 0%,#2c76cf 100%); background: -o-linear-gradient(top,  #1d4e89 0%,#2c76cf 100%); background: -ms-linear-gradient(top,  #1d4e89 0%,#2c76cf 100%); background: linear-gradient(to bottom,  #1d4e89 0%,#2c76cf 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1d4e89', endColorstr='#2c76cf',GradientType=0 ); }
.symple-button.navy span.symple-button-inner { border-top: 1px solid #619ade }
.symple-button { font-size: 13px }
.symple-button.large { font-size: 16px }
.symple-button.giant { font-size: 18px }
.symple-button.left { float: left }
.symple-button.right { float: right; margin-right: 0; margin-left: 5px; }
/* Testimonial
================================================== */
.symple-testimonial-content { font-style: italic; position: relative; background: #f5f5f5; padding: 15px; color: #666; border-radius: 2px; -webkit-border-radius: 2px; }
.symple-testimonial-content:after { content: ""; position: absolute; left: 12px; bottom: -15px; width: 0px; height: 0px; border-bottom: 15px solid rgba(255,255,255,0); border-top: 15px solid rgba(255,255,255,0); border-right: 15px solid #f5f5f5; font-size: 0px; line-height: 0px; }
.symple-testimonial-content p:last-child { margin: 0 }
.symple-testimonial-author { font-size: 1em; margin-top: 25px; margin-left: 15px; color: #000; font-weight: bold; }
/* Highlights
================================================== */
.symple-highlight-yellow, .symple-highlight-yellow a { background-color: #FFF7A8; color: #695D43; }
.symple-highlight-blue, .symple-highlight-blue a { color: #5091b2; background: #e9f7fe; }
.symple-highlight-green, .symple-highlight-green a { color: #5f9025; background: #ebf6e0; }
.symple-highlight-red, .symple-highlight-red a { color: #de5959; background: #ffe9e9; }
.symple-highlight-gray, .symple-highlight-gray a { color: #666; background: #f9f9f9; }
/* Boxes
================================================== */
/*main*/
.symple-box { display: block; padding: 15px; margin: 10px 0; font-size: 1em; border-radius: 2px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.symple-box p:last-child { margin: 0 }
/*aligns*/
.symple-box.left { float: left }
.symple-box.right { float: right }
/*colors*/
.symple-box.gray { color: #666; background: #f9f9f9; border: 1px solid #ddd; }
.symple-box.red { color: #de5959; background: #ffe9e9; border: 1px solid #fbc4c4; }
.symple-box.green { color: #5f9025; background: #ebf6e0; border: 1px solid #b3dc82; }
.symple-box.blue { color: #5091b2; background: #e9f7fe; border: 1px solid #b6d7e8; }
.symple-box.yellow { color: #c4690e; background: #fffdf3; border: 1px solid #f2dfa4; }
/* Toggle
================================================== */
.symple-toggle .symple-toggle-trigger { display: block; color: #555; display: block; padding: 15px 15px 15px 37px; border: 1px solid #ddd; background: #f9f9f9 url("images/plus.png") no-repeat 15px center; outline: 0; text-transform: none; letter-spacing: normal; font-weight: normal; font-size: 1em; line-height: 1.5em; margin: 0; margin-top: 10px; cursor: pointer; }
.symple-toggle .symple-toggle-trigger:hover { background-color: #eee; text-decoration: none; }
.symple-toggle .symple-toggle-trigger.active, .symple-toggle .symple-toggle-trigger.active:hover { color: #000; background-color: #eee; background-image: url("images/minus.png"); text-decoration: none; }
.symple-toggle .symple-toggle-container { display: none; overflow: hidden; padding: 15px; border: 1px solid #ddd; border-top: 0px; }
/* Accordion
================================================== */
.symple-accordion h3.symple-accordion-trigger { display: block; color: #555; display: block; padding: 15px 15px 15px 37px; border: 1px solid #ddd; background: #f9f9f9 url("images/plus.png") no-repeat 15px center; outline: 0; text-transform: none; letter-spacing: normal; font-weight: normal; font-size: 1em; line-height: 1.5em; margin: 10px 0 0 !important; cursor: pointer; }
.symple-accordion h3.symple-accordion-trigger a { color: #555; text-decoration: none !important; }
.symple-accordion .ui-state-focus { outline: none }
.symple-accordion .symple-accordion-trigger:hover { background-color: #eee; text-decoration: none; }
.symple-accordion .symple-accordion-trigger.ui-state-active { background-color: #eee; background-image: url("images/minus.png"); text-decoration: none; }
.symple-accordion .symple-accordion-trigger.ui-state-active a { color: #000 }
.symple-accordion .ui-accordion-content { background-color: #fff; padding: 15px; border: 1px solid #ddd; border-top: 0px; }
.symple-accordion .ui-accordion-content p:last-child { margin: 0px }
.symple-accordion .ui-icon { margin-right: 7px }
/* Tabs
================================================== */
.symple-tabs ul.ui-tabs-nav { display: block; margin: 0; padding: 0; border-bottom: solid 1px #ddd; margin-left: 1px; }
.symple-tabs ul.ui-tabs-nav li { display: block; width: auto; height: 40px; padding: 0 !important; float: left !important; margin: 0 !important; outline: none; }
.symple-tabs ul.ui-tabs-nav li a { display: block; text-decoration: none; width: auto; height: 39px; padding: 0px 20px; line-height: 40px; border: solid 1px #ddd; border-width: 1px 1px 0 0; margin: 0; background-color: #f5f5f5; font-size: 1em; color: #444; outline: none; }
.symple-tabs ul.ui-tabs-nav li a:hover { color: #333; background: #eee; }
.symple-tabs ul.ui-tabs-nav .ui-state-active a { background: #fff; height: 40px; position: relative; top: -4px; padding-top: 4px; border-left-width: 1px; margin: 0 0 0 -1px; color: #111 !important; -moz-border-radius-topleft: 2px; -webkit-border-top-left-radius: 2px; border-top-left-radius: 2px; -moz-border-radius-topright: 2px; -webkit-border-top-right-radius: 2px; border-top-right-radius: 2px; }
.symple-tabs ul.ui-tabs-nav .ui-state-active a:hover { background: #fff }
.symple-tabs ul.ui-tabs-nav li:first-child .ui-state-active a { margin-left: 0 }
.symple-tabs ul.ui-tabs-nav li:first-child a { border-width: 1px 1px 0 1px }
.symple-tabs .tab-content { background: #fff; padding: 20px; border-left: solid 1px #ddd; border-right: solid 1px #ddd; border-bottom: solid 1px #ddd; }
.symple-tabs ul.tabs:before, ul.tabs:after { content: '\0020'; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0; }
.symple-tabs ul.tabs:after { clear: both }
.symple-tabs ul.tabs { zoom: 1 }
.symple-tabs .ui-tabs-hide { display: none }
.symple-tabs:before, ul.symple-tabs:after { content: '\0020'; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0; }
.symple-tabs:after { clear: both }
.symple-tabs { zoom: 1 }
.symple-tabs .ui-tabs-hide { display: none }
/* Pricing Table
================================================== */
.symple-pricing-table { list-style: none; margin: 0; padding: 0; font-size: 16px; }
.symple-pricing-table div { list-style: none }
.symple-pricing-table > div { margin-right: 4%; list-style: none; text-shadow: none; margin-bottom: 0; border: 1px solid #ddd; transition: all 0.25s ease-in-out; -webkit-transition: all 0.25s ease-in-out; -moz-transition: all 0.25s ease-in-out; box-shadow: 0 0 10px rgba(0, 0, 0, 0.05); -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.05); -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.05); }
.symple-pricing-table .symple-pricing-header { background: #333; text-align: center; padding: 20px 0; border-bottom: 1px solid #111; }
.symple-pricing-table .symple-pricing-header h5 { color: #fff; font-size: 1.313em; margin: 0; padding: 0 20px 10px; font-weight: bold; background: url("images/dotted-border-half.png") bottom repeat-x; border-bottom: 1px solid #111; }
.symple-pricing-table .symple-pricing-cost { color: #fff; font-size: 1.500em; line-height: 1em; padding-top: 20px; border-top: 1px solid #444; }
.symple-pricing-table .featured .symple-pricing-header { background: #fd5c41; margin: -1px; color: #fff; border-bottom: 1px solid #e72302; }
.symple-pricing-table .featured .symple-pricing-header h5 { color: #fff; border-bottom: 1px solid #e72302; }
.symple-pricing-table .featured .symple-pricing-cost { border-top: 1px solid #fe8773 }
.symple-pricing-table .symple-pricing-per { font-size: 0.786em; color: #fff; }
.symple-pricing-table .symple-pricing-content { background: #fff; font-size: 0.857em; text-align: center; }
.symple-pricing-table .symple-pricing-content ul { margin: 0 !important; list-style: none !important; }
.symple-pricing-table .symple-pricing-content ul li { margin: 0 !important; padding: 10px 20px !important; border-bottom: 1px solid #eee; list-style: none !important; }
.symple-pricing-table .symple-pricing-content ul li:nth-child(2n+2) { background: #f9f9f9 }
.symple-pricing-table .symple-pricing-button { background: #fff; text-align: center; border-top: 1px solid #fff; padding: 20px; }
.symple-pricing-table .symple-pricing-button .symple-button { float: none; margin: 0 auto; }
/* Heading - v1.1
================================================== */
.symple-heading { padding-bottom: 20px; border-bottom: 1px solid #ddd; }
.symple-heading.text-align-center { text-align: center }
.symple-heading.text-align-left { text-align: left }
.symple-heading.text-align-right { text-align: right }
/* Googlemap - v1.1
================================================== */
.googlemap { position: relative; max-width: inherit; }
.googlemap .map_canvas { width: 100%; height: 100%; }
.googlemap .map_canvas h3 { margin: 0 0 10px; font-size: 14px; }
.map_canvas img { max-width: none !important }
/* Divider - v1.1
================================================== */
.symple-divider { display: block; width: 100%; height: 0; margin: 0; background: none; }
.symple-divider.solid { border-top: 1px solid #eee }
.symple-divider.dashed { border-top: 2px dashed #eee }
.symple-divider.dotted { border-top: 3px dotted #eee }
.symple-divider.double { height: 5px; border-top: 1px solid #eee; border-bottom: 1px solid #eee; }
.symple-divider.fadeout { width: 100%; height: 1px; border: none; margin-bottom: 42px; margin-top: 12px; margin-left: auto; margin-right: auto; background-image: -webkit-gradient(radial, 50% 50%,0,50% 50%,200, from(#eeeeee), to(#ffffff)); background-image: -webkit-radial-gradient(50% 50%, #eeeeee, #ffffff); background-image: -moz-radial-gradient(50% 50%, #eeeeee, #ffffff); background-image: -o-radial-gradient(50% 50%, #eeeeee, #ffffff); background-image: -ms-radial-gradient(50% 50%, #eeeeee, #ffffff); background-image: radial-gradient(50% 50%, #eeeeee, #ffffff); }
.symple-divider.fadein { width: 100%; height: 1px; border: none; margin-bottom: 42px; margin-top: 12px; margin-left: auto; margin-right: auto; background-image: -webkit-gradient(radial, 50% 50%,0,50% 50%,200, from(#ffffff), to(#eeeeee)); background-image: -webkit-radial-gradient(50% 50%, #ffffff, #eeeeee); background-image: -moz-radial-gradient(50% 50%, #ffffff, #eeeeee); background-image: -o-radial-gradient(50% 50%, #ffffff, #eeeeee); background-image: -ms-radial-gradient(50% 50%, #ffffff, #eeeeee); background-image: radial-gradient(50% 50%, #ffffff, #eeeeee); }
/* Skillbars - 1.3
================================================== */
.symple-skillbar { position: relative; display: block; margin-bottom: 15px; width: 100%; background: #eee; height: 35px; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; -webkit-transition: 0.4s linear; -moz-transition: 0.4s linear; -ms-transition: 0.4s linear; -o-transition: 0.4s linear; transition: 0.4s linear; -webkit-transition-property: width, background-color; -moz-transition-property: width, background-color; -ms-transition-property: width, background-color; -o-transition-property: width, background-color; transition-property: width, background-color; }
.symple-skillbar-title { position: absolute; top: 0; left: 0; font-weight: bold; font-size: 13px; color: #fff; background: #6adcfa; -webkit-border-top-left-radius: 3px; -webkit-border-bottom-left-radius: 4px; -moz-border-radius-topleft: 3px; -moz-border-radius-bottomleft: 3px; border-top-left-radius: 3px; border-bottom-left-radius: 3px; }
.symple-skillbar-title span { display: block; background: rgba(0,0,0,0.1); padding: 0 20px; height: 35px; line-height: 35px; -webkit-border-top-left-radius: 3px; -webkit-border-bottom-left-radius: 3px; -moz-border-radius-topleft: 3px; -moz-border-radius-bottomleft: 3px; border-top-left-radius: 3px; border-bottom-left-radius: 3px; }
.symple-skillbar-bar { height: 35px; width: 0px; background: #6adcfa; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }
.symple-skill-bar-percent { position: absolute; right: 10px; top: 0; font-size: 11px; height: 35px; line-height: 35px; color: #444; color: rgba(0,0,0,0.4); }
/* Callout - 1.4
================================================== */
.symple-callout { padding: 20px; background: #eee; position: relative; border-radius: 3px; }
.symple-callout-caption { float: left; font-size: 1.6em; font-weight: 400; width: 80%; color: #555; }
.symple-callout-button { position: absolute; right: 20px; top: 50%; margin-top: -20px; }
.symple-callout-button .button { height: 40px; line-height: 40px; }
/* Provide some responsive support for the Symple Shortcodes
================================================== */
@media only screen and (max-width: 520px) { 
	.symple-one-half, .symple-one-third, .symple-two-third, .symple-three-fourth, .symple-one-fourth, .symple-one-fifth, .symple-two-fifth, .symple-three-fifth, .symple-four-fifth, .symple-one-sixth, .symple-five-sixth { width: 100%; float: none; margin-right: 0; margin-bottom: 20px; }
	.symple-pricing-table > div { margin-bottom: 25px }
	.symple-box, .symple-box.left, .symple-box.right { float: none; width: 100% !important; }
	.symple-tabs ul.ui-tabs-nav { margin-left: 0 }
	.symple-tabs ul.ui-tabs-nav li { width: 100% }
	.symple-tabs ul.ui-tabs-nav li a { border-left-width: 1px }
	.symple-tabs ul.ui-tabs-nav .ui-state-active a, .symple-tabs ul.ui-tabs-nav .ui-state-active a:hover { height: 39px; padding-top: 0; margin-left: 0; top: auto; background-color: #eee; color: #000; font-weight: bold; }
	.symple-callout-caption { text-align: center }
	.symple-callout-caption { float: none; font-size: 1.6em; font-weight: 400; width: 100%; color: #555; }
	.symple-callout-button { position: inherit; right: auto; top: auto; margin: 20px auto 0; text-align: center; }
}