#* @vtlvariable name="grids" type="com.k15t.scroll.viewport.model.render.content.layouts.GridHelper" *#
#* @vtlvariable name="pageLayout" type="com.k15t.scroll.viewport.model.render.content.layouts.PageLayout" *#

$grids.setup(
    {
        "single": ["sixteen columns alpha omega"],
        "three_equal": ["one-third column alpha", "one-third column", "one-third column omega"],
        "three_with_sidebars": ["four columns alpha", "eight columns", "four columns omega"],
        "two_equal": ["eight columns alpha", "eight columns omega"],
        "two_left_sidebar": ["six columns alpha", "ten columns omega"],
        "two_right_sidebar": ["ten columns alpha", "six columns omega"]
    }
)

#foreach($pageLayoutSection in $pageLayout.sections)

    <div class="container clearfix">
    #foreach($cell in $pageLayoutSection.cells)
        <div class="$grids.get($pageLayoutSection.type, $velocityCount)">
            $cell.content
        </div>
    #end
    </div>

#end
